*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/*导航栏*/
header{
    background-color: #333;
    width: 100%;
    min-width: 1263px;
    height: 70px;
}
nav{
    margin: 0 auto;
    width: 1000px;
}
/*图标设置*/
.logo{
    float: left;
}
nav > ul{
    position: relative;
    text-align: center;
    line-height: 70px;
    left: 200px;
}
nav > ul > li{
    float: left;
    width: 120px;
}
/*设置每个标签属性*/
nav > ul > li > a{
    font-size: 24px;
    display: block;
    color: white;
    margin: 0 10px;
}
/*鼠标悬挂a标签出现背景*/ 
nav > ul > li >a:hover{
    background: #000;
    cursor: pointer;
}
/*banner设置*/
#banner{
    position: relative;
    background: linear-gradient(to right bottom, rgba(0,0,0,0.7), rgba(0,0,0,0)), url("img/headline.jpg") no-repeat center;
    width: 100%;
    height: 300px;
    min-width: 1263px;
}
.banner{
    width: 1264px;
    height: 300px;
    margin: 0 auto;
}
hgroup{
    padding: 100px 0 0 150px;
}
hgroup > h1{
    font-size: 45px;
    font-weight: bold;
    color: #eee;
    letter-spacing: 1px;
}
hgroup > p {
    color: #eee;
    letter-spacing: 1px;
    font-size: 20px;
}
/*主内容*/
.container{
    margin: 30px auto;
    width: 1263px;
    overflow: hidden;
}
article{
    float: left;
    width: 900px;
}
/*标题设置*/
.scenery > h2{
    border-bottom: 1px dashed #999;
    font-size: 45px;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    line-height: 50px;
}
/*景点图像*/
.scenery > figure{
    text-align: center;
    width: 433px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 10px 3px 15px 0;
    border-radius: 5px;
    letter-spacing: 1px;
}